

body {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	background-color: var(--primary-color);
}


:root {
  --primary-color: #FFF8E7;
  --secondary-color: #e7eeff;
  --dark-grey: #2b2b2b;
  --black: black;
  --white: #ffffff;
  --secondary-color-darker: darken(#e7eeff, 20%);
  --blue: blue;
  --table-color-background: #009879;
  --styled-table-bottom: #dddddd;
  --table-bg-color: #f3f3f3;
  --table-bottom: #009879;
  --input-border-bottom: #bebed2;
  --input-focus-bottom: #78788c;
  --box-shadow-lightest: 0 0 20px rgba(0, 0, 0, 0.15);
  --box-shadow-contact: 10px 10px 40px -14px #000; 
  --box-shadow-dark: 0 0 40px -10px #000;
}


h1 {
	font-size: 26px;
	font-weight: 700;
}

h2 {
	font-size: 26px;
	font-weight: 600;
	
}

h3 {
	font-size: 18px;
	font-weight: 700;

}

h4 {font-size: 25px;
	font-weight: 700;
}

.about-images {
	max-height: 290px;
}

.aboutimages {
	max-height: 280px;
}

a {
	color: var(--black);
}


a:visited {
	color: var(--secondary-color-darker);
}

a:active {
	color: var(--secondary-color-darker);
}

a:hover, a:focus {
	text-decoration: none;
}

.button, button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: var(--secondary-color); 
	font: var(--black);
	text-decoration: none;
	size: 16px;
	padding: 25px;
	border-radius: 50%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.8);
	transition-timing-function: ease-in-out (0.95,0.1,0.95,1);
	box-shadow: var(--box-shadow-lighter);
}

button:hover,
button:focus,
.button:hover, 
.button:focus {
	cursor: pointer;
	opacity: 0.2;
	font-size: 20px;
	transition: 0.6s;
	transition-duration: 0.9;
}

.navigation-list__item--active {
	text-decoration: none;
	opacity: 50%;
}

.profile__portrait {
	float: right;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	box-shadow: var(--box-shadow-dark);
}

.profile__picture  {
	float: right;
	max-width: 100%;
	height: auto;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: var(--box-shadow-dark);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
	border-image-width: 12px;
	
 }

.column {
	width: 100%;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.svg__icon {
	width: 50px
}

.profile {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.profile__text {
	flex: 1 1 100px;
}

.page-header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px 10px;
	background-color: var(--secondary-color);
	border-bottom: 2px solid rgba(0, 0, 0, 0.8);
	box-shadow: var(--box-shadow-lightest);
}

.page-header__item {
	flex: 0 1 60px;
}

.logo {
	float: left;
	border-right: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: inherit;
    min-width: 400px;
    box-shadow: var(--box-shadow-lightest);
 }

.styled-table thead tr {
    background-color: var(--table-color-background);
    color: var(--white);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}    

.styled-table tbody tr {
    border-bottom: 1px solid var(--styled-table-bottom);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--table-bg-color);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--table-bottom);
}

table.center {
    margin-left:auto; 
    margin-right:auto;
   
}

.page-header .page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	float: right;
	list-style-type: none;
	}

.navigation-list li {
	display: inline-flex;
	margin-left: 15px;
}

.button-space2 {
	font-size: 25px;
    padding: 30px;
	clear: both;
	display: inline-flex;
	flex-direction: center;
	justify-content: center;
}	

.even-columns {
	display: flex;
}

.even-columns > * {
	flex-basis: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

.grid__item {
	background-color: var(--secondary-color);
	box-shadow: var(--box-shadow-lightest); 
}

.studio {
	text-align: center;
	border-width: 20px;
}

.grid__item:last-child {
	grid-column-start: 3;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;

}

.form {
	max-width: 700px;
	height: 440px;
	background: inherit;
	border-radius: 8px;
	box-shadow: var(--box-shadow-contact);
	padding: 20px 30px;
	box-sizing: border-box;
	font-family: inherit;
	position: relative;
}

input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border-radius: 5%;
	border: 0;
	font-family: inherit;
	transition:all .3s;
	border-bottom: 2px solid var(--input-border-bottom);
}

input:focus {
	border-bottom: 2px solid var(--input-focus-bottom);
}

p:before {
	content: attr(type);
	display: block;
	margin: 28px 0 0;
	font-size: 14px;
	font: black;
}

.button-space3 {
	float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: inherit;
	border: 2px solid var(--secondary-color);
	background: 0;
	font: var(--black);
	cursor: pointer;
	transition: all .3s;
}

.Contact {
	float: left;
	bottom: 2px;
	top: 10px;
	margin-left: 10px;
	right: 50px;
	background: var(--secondary-color);
	color: black;
	max-width: 700px;
	border-radius: 6px;
	font-size: 13px;
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 45s cloud-move infinite alternate linear;
}

.cloud-back  {
    animation: 45s cloud-move-reverse infinite alternate linear;
}

nav.container
{
    font-family: inherit;
    font: black;
    margin: 0 auto;
	padding: 10px;
	text-align: right;
	width: 100%;
}

nav.container a
{
    color: black;
    text-decoration: none;
    font: 20px inherit;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.deepOrange
{
        background: var(--secondary-color)
    }

nav.pullRightLeft a:before, nav.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: black;
    opacity: 0.3;
    transition: all 0.3s;
}

nav.pullRightLeft a:before
{
    left: 0px;
} 

nav.pullRightLeft a:after
{
    right: 0px;
}

nav.pullRightLeft a:hover:before, nav.pullRightLeft a:hover:after
{
    width: 100%;
}


@keyframes cloud-move {

	from {
		transform: translate(0,50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

@keyframes cloud-move-reverse {
    from {
       transform: translate(446px, 48px);
    }
    to {
       transform: translate(100px, 48px);
    }
}

@keyframes color-change {
    	0% {
    		fill: #edc655;
    }
    	50% {
    		fill: #fcffad;
    }
    	100% {
    		fill: #f76414;
    }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
    .grid {
    	grid-template-columns: 1fr;
    	grid-gap: 10px;
    }
    .grid__item:last-child {
    	grid-column: auto /auto;
    	grid-row: auto / auto;
    }
    

}

/*
Colors used

Text Color (Black): #000000;
Primary Color (Cosmic Latte): #FFF8E7;
Secondary Color (Mostly blue): #e7eeff;
 */